[submodule "compound-config"]
	path = ext/compound-config
	url = https://github.com/compound-finance/compound-config
[submodule "ext/compound-config"]
	path = ext/compound-config
	url = https://github.com/compound-finance/compound-config
